@page "/"
@inherits IndexBase

<CascadingValue Name="RefAddEditForm" Value="RefAddEditEventForm">
    <CascadingValue Name="RefEventsDisplay" Value="RefEventsDisplay">

        <div class="top-menu">
            <i class="fa fa-regular fa-lightbulb m-2"></i>
        </div>

        @*Off Canvas: Add/Edit Event *@
        <div class="offcanvas offcanvas-end" tabindex="-1" id="mainOffCanvas" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Add/Edit Story Event</h5>
                <i class="fa fa-times" data-bs-dismiss="offcanvas" aria-label="Close"></i>
            </div>
            <div class="offcanvas-body">
                <Storyline.WebApp.Shared.StoryEvent.AddEdit @ref="RefAddEditEventForm"></Storyline.WebApp.Shared.StoryEvent.AddEdit>
            </div>
        </div>

        <Storyline.WebApp.Shared.StoryEvent.Display @ref="RefEventsDisplay" Story="Story"></Storyline.WebApp.Shared.StoryEvent.Display>
    </CascadingValue>
</CascadingValue>
