@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <button class="btn btn-primary m-1 position-absolute" type="button" data-bs-toggle="offcanvas" data-bs-target="#mainOffCanvas" aria-controls="mainOffCanvas">
            <i class="oi oi-menu"></i>
        </button>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="mainOffCanvas" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Add</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <Storyline.Shared.StoryEvent.AddEdit></Storyline.Shared.StoryEvent.AddEdit>
            </div>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
