
<div>
    <h3>Add / Edit Event</h3>

    <div>
        <div class="mb-3">
            <label>Event Title</label>
            <input type="text" class="form-control" placeholder="Title" />
        </div>
        <div class="mb-3">
            <label>Event Summary</label>
            <textarea class="form-control" placeholder="Summary"></textarea>
        </div>
        <div class="mb-3">
            <label>Event Time</label>
            <input type="datetime" class="form-control" placeholder="Event Time" />
        </div>
        <div class="mb-3">
            <label>Characters</label>

        </div>
        <div class="mb-3">
            <label>Organizations</label>

        </div>
        <div class="mb-3">
            <label>Viruses</label>

        </div>
    </div>
</div>


@code{

}