@code {

    [Parameter]
    public IEnumerable<Models.Storyline.StoryEvent> StoryEvents { get; set; }

    [Parameter]
    public EventCallback<Models.Storyline.StoryEvent> OnStoryEventSelect { get; set; }

    private Models.Storyline.StoryEvent _selectedStoryEvent = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected void SelectStoryEvent(Models.Storyline.StoryEvent item)
    {
        _selectedStoryEvent = item;
        this.OnStoryEventSelect.InvokeAsync(item);
    }
}

<div class="event-timeline-selector">
    @foreach (var e in this.StoryEvents)
    {
        string selectedItemClass = _selectedStoryEvent?.Id == e.Id ? "selected" : "";

        <span class="event-item @selectedItemClass">
            <i id="@e.Id" @onclick="() => SelectStoryEvent(e)"></i>
        </span>
    }
</div>


<style>
    .event-timeline-selector {
        margin: 10px 0;
        display: flex;
        flex-flow: column wrap;
        width: 50px;
    }

        .event-timeline-selector .event-item {
            align-items: center;
            display: flex;
            height: 50px;
            justify-content: center;
            width: 50px;
        }

            .event-timeline-selector .event-item > i {
                background-color: #e4e4e4;
                border: 2px solid #000;
                border-radius: 5px;
                cursor: pointer;
                display: inline-block;
                height: 20px;
                position: relative;
                width: 20px;
            }

                .event-timeline-selector .event-item > i:hover, .event-timeline-selector .event-item.selected > i {
                    background-color: #20acb4;
                    border-color: #02161a;
                    height: 25px;
                    transform: rotate(45deg);
                    width: 25px;
                }

            .event-timeline-selector .event-item.selected > i {
                background-color: #8b7e50;
                border-color: #8b7e50;
            }
</style>