@inherits DisplayBase

@if (this.StoryEvents != null)
{
    foreach (var entry in this.StoryEvents)
    {
        <div class="story-event">
            <div class="date-info">@($"{entry.EventTime:yyyy}")</div>
            <div>
                <header>@entry.Title</header>
                <p class="summary">@entry.Summary</p>
            </div>
        </div>
    }
}